.ednChat{
    padding-bottom: 100px;
}
.form{
    form{
        bottom: 0;
        background-color: #586260;
        border-radius: 20px;
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
        position: absolute;
        width: fit-content;
        height: 50px;
        align-self: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        left: 50px;
        right: 50px;
        label{
            background-color: #3a3f3e;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left:8px;
            outline: 2px solid #ced3d1;
            outline-offset: 1px;
            transition: 0.25s;
            img{
                width: 16px;
                height: 16px;
            }
        }
        label:hover{
            outline-offset: 5px;
        }
    }
    .form-input{
        background-color:#3a3f3e;
        flex: 1;
        width: 350px;
    }
    .form-input:focus{
        outline-offset: 1px;
    }

}
.loader {
    width: 80px;
    height: 50px;
    position: relative;
  }
  
  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #ececec;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  
  .load {
    background-color: #828e8a;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
  .message-user{
    padding: 20px;
    border-radius: 20px;
    max-width: 80%;
    background-color:#3a3f3e;
    outline: 2px solid #828e8a;
    outline-offset: 3px;
    margin-top: 30px;
    align-self: flex-end;
}
.chat{
  width:80%;
  display: flex;
  flex-direction: column; 
}
.frm-btn {
  background-color: #3a3f3e;
}
